esphome:
  name: leak-sensor

esp8266:
  board: d1_mini
  
# Enable logging
logger:
  level: DEBUG

# Enable Home Assistant API
api:

ota:
  platform: esphome

binary_sensor:
  - platform: gpio
    pin:
      number: D2
      inverted: true
      mode:
        input: true
        pullup: true
    name: Leak
    id: leak
    device_class: moisture

wifi:
  ssid: !secret wifi_ssid
  password: !secret wifi_password

  # Enable fallback hotspot (captive portal) in case wifi connection fails
  ap:
    ssid: "Esphome-Web-4877Ba"
    password: "QoO9G21qy8JK"

captive_portal:
    